*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.logo{
    height: 4rem;
    border-radius: 2rem;
}
.container{
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.container h1{
    font-size: 4rem;
    color: white;
    margin-bottom: 3rem;
}

.container a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 4rem;
}
.container a:hover{
    background-color:white;
    color: black;
    transition: 0.3s;
}
.back{
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    background-size: cover;
}

.socials{
    display: flex;
    height: 2rem;
}
.para{color: white;}